doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- title= title
		link(rel="stylesheet", href="./stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="./stylesheets/bootstrap-theme.min.css")
		link(rel="stylesheet", href="./stylesheets/font-awesome.min.css")
		link(rel="stylesheet", href="./stylesheets/fonts.min.css")
		link(rel="stylesheet", href="./stylesheets/normalize.min.css")
		link(rel="stylesheet", href="./stylesheets/main.min.css")
	body(data-post="#/kareeb-a-free-html-coming-soon-website-template-jquery-counter")
		block content
		script(src="./javascripts/bundle.js")